body {
    background-color: #f4808e;
}

h1 {
    color:#ffd1d9;
}

h2 {
    font-size: 20px
}

section h2 {
    color:#e5225d;
}

.green-text {
    color:#900e49;
}

.pink-bg {
    background-color: #f96b84;
}

